<div>
  <div id="title" class="row pb-5 pt-1 " style="background-color: #FF165D">
    <div class="col-12 d-flex justify-content-center">
      <div class="align-self-center">
        <img class="img-fluid" src="/img/pistilLogo.png" alt="pistil logo">
      </div>
    </div>
  </div>
  <div class="row " style="background-color: #E28413; " >


    {{#each catalog}}

    <div  class="col-3 container shadow hover rounded border m-5 p-3"  style="background-color: white;">
      <a class="antiAnchor" href="/article/{{title}}">
          <div class="row">
            <img style="height: 10em; width: 20em; margin:3px auto;" src="/editorial/{{this.photo}}" alt="">
          </div>
          <div class="row">
            <p style="margin:3px auto; font-size: 1.4em;" class="text-center fira-sans">{{this.title}}</p>
          </div>
          <div class="row justify-content-center">
            {{#each this.tags}}
            <p style="font-size: 1em" class="tags fira-sans m-1" >{{this}}</p>
            {{/each}}
          </div>
      </a>
    </div>
    {{/each}}




  </div>
</div>
