<div>
  <div id="title" class="row pb-5 pt-1 " style="background-color: #FF165D">
    <div class="col-12 d-flex justify-content-center">
      <div class="align-self-center">
        <img class="img-fluid" src="/img/pistilLogo.png" alt="pistil logo">
      </div>
    </div>
  </div>
  <div class="row" style="background-color: #E28413; height: 1000px;" >

  </div>
</div>
